<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error {
                color: red;
            }
            div {
                display:inline-block;
                padding: 6px;
                margin: 0 auto;
            }
        </style>
    </head>

    <nav>
        <ul>
            {% if 'username' not in session %}
                <li><a href="/login">Login</a></li>
            {% endif %}            
            <li><a href="/">Home</a></li>
            {% if 'username' in session %}
            <li><a href='/blog'>Blog</a></li>
            {% endif %}
            <li><a href="/newpost">New Post</a></li>


        </ul>
    </nav>

    <body>

        {% with messages = get_flashed_messages(with_categories=True) %}
            <ul>
            {% for category,message in messages %}
                <li class={{category}}>{{message}}</li>
            {% endfor %}
            </ul>
        {% endwith %}

        {% block content %}
        {% endblock %}

    </body>

    <div>
        {% if 'username' in session %}
        <li><a href="/logout">Logout</a></li>
        {% endif %} 
    </div>

</html>
