{% extends "base.html" %}

{% block content %}
    <h1>New Blog Post!</h1>
    <form action='/' method='POST'>
        <label> 
            New Blog Title:
        <input type='text' name='blog_title' value="{{blog_title}}"/>
        <span class="error">{{blog_title_error}}</span>
        </label>
        <label>
            Blog:
        <input type='text' name='blog_content' value="{{blog_content}}"/>
        <span class="error">{{blog_content_error}}</span>
        </label>
        <input type='submit' value='Create Post' />

    </form>

{% endblock %}
